rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /emergencyContacts/{document} {
      allow read: if true; // Public read access for testing
    }
  }
}
